<section ng-controller="HomeController">
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/client/img/brand/logo.png" />
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
The <strong>Top Place</strong> for Encrypted Chat and Uncensored Talk
      </p>
    </div>
    <div class="fb-like" data-share="true" data-width="450" data-show-faces="true"></div>
    <div class="row">
      <p>
        <a class="btn btn-primary btn-lg" ui-sref="authentication.signup" target="_blank">Sign Up!</a>
        <a class="btn btn-success btn-lg" ui-sref="authentication.signup" target="_blank">Sign In!</a>
      </p>
    </div>
  </div>
</section>
