<section ng-controller="HomeController">
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/client/img/brand/logo.png" />
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
The <strong>Top Place</strong> for Encrypted Chat and Uncensored Talk
      </p>
    </div>
    <div class="fb-like" data-share="true" data-width="450" data-show-faces="true"></div>
    <div class="row">
      <p>
        <a class="btn btn-primary btn-lg" ui-sref="authentication.signup" target="_blank">Sign Up!</a>
        <a class="btn btn-success btn-lg" ui-sref="authentication.signup" target="_blank">Sign In!</a>
      </p>
    </div>
  </div>
  <div>
    <h2>Congrats! You've come accoss the really real <strong>future</strong> of Online Chat and Talk.</h2>
    <p>our<strong>S</strong>pace is the best social network platform ever invented!</p>
    <p>Sign up for a FREE account, and you will be able to:</p>
    <ul>
      <li>
      Chat with ANYONE!
      </li>
      <li>
        Create unlimited "publicSpaces", places where you can speak your mind, for all the world to see!
      </li>
      <li>
        Create unlimited "secretSpaces", places where you can hide.
      </li>
      <li>
        Have fun...
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-3">
      <h2 ui-serf="chat">our<strong>C</strong>hat</h2>
      <p> With EVERYONE AND ANYONE. You can block people too if you want, but we discourage that.</p>
    </div>
    <div class="col-md-3">
      <h2 ui-serf="publicspaces.list">public<strong>S</strong>paces</h2>
      <p>Create unlimited "publicSpaces", places where you can speak your mind, for all the world to see! Public has 2 main meanings: 1. of or concerning the people as a whole. 2. done, perceived, or existing in open view.</p>
    </div>
    <div class="col-md-3">
      <h2 ui-serf="secretspaces.list">secret<strong>S</strong>paces</h2>
      <p>Create unlimited "secretSpaces", places where you can hide. Secret is defined by smart people as not known or seen or not meant to be known or seen by others.</p>
    </div>
    <div class="col-md-3">
      <h2>our<strong>H</strong>ave fun</h2>
      <p>I don't really have anything here. To be honest, this is a pretty simple app. But I really wanted to have lots of information available, with lots of words, because it's good to have words.</p>
    </div>
  </div>
  <!-- <div class="well">
    <h2>MEAN.JS Documentation</h2>
    <p>
      Once you're familiar with the foundation technology, check out the MEAN.JS Documentation:
      <ul>
        <li><a target="_blank" href="http://meanjs.org/docs.html">MEAN.JS Documentation</a>
        </li>
        <li><a target="_blank" href="http://meanjs.org/modules.html">Modules</a>
        </li>
        <li><a target="_blank" href="http://meanjs.org/changelog.html">Changelog</a>
        </li>
        <li><a target="_blank" href="http://meanjs.org/community.html">Community</a>
        </li>
        <li><a target="_blank" href="http://blog.meanjs.org">Blog</a>
        </li>
      </ul>
    </p>
  </div> -->
  <br>Enjoy &amp; Keep Us Updated,
  <br>The our<strong>S</strong>pace Team.
</section>
